<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="page-header" layout:fragment="content" id="fh5co-page">
    <div id="fh5co-main">
        <div class="fh5co-more-contact">
            <div class="fh5co-narrow-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Поиск">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" value="Найти заявку">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <a th:href="@{/new_employee}" class="btn btn-primary btn-md">+ Добавить нового сотрудника</a>
                        </div>
                    </div>
                    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-narrow-content">
                            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Заявки</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Фамилия и Имя</th>
                                    <th scope="col">Рабочий телефон</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee: ${recruits}">
                                    <td scope="row" th:text="${employee.getId()}"></td>
                                    <td th:text="${employee.getSurname() + ' ' + employee.getName()}"></td>
                                    <td th:text="${employee.getPhoneNumber()}"></td>
                                    <td th:switch="${employee.getStatus().name()}">
                                        <button th:case="${'INACTIVE'}" type="submit" class="open-dialog btn btn-primary btn-md" th:data-id="${employee.getId()}" data-toggle="modal" data-target="#addEmployeeModal" style="font-size: 10px;">Назначить в отдел</button>
                                        <div class="modal fade" id="addEmployeeModal" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <h3>Назначение в отдел</h3>
                                                        <form class="form-horizontal" th:action="@{'/add_to_project'}" method="post">
                                                            <div class="form-group" style="margin: 10px;">
                                                                <label for="project">Отдел</label>
                                                                <select id="project" class="form-control" th:name="projectId">
                                                                    <option value="">Выберите отдел</option>
                                                                    <option th:each="project : ${projects}"
                                                                            th:value="${project.getId()}"
                                                                            th:text="${project.getTitle()}"></option>
                                                                </select>
                                                                <input type="hidden" th:id="employeeToAdd" th:name="employeeToAdd"/>
                                                            </div>

                                                            <input type="submit" class="btn btn-primary btn-md" value="Добавить">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a th:case="${'RECRUIT'}" th:href="@{'/interview/' + ${employee.getId()}}" class="btn btn-primary btn-md" style="font-size: 10px;">Назначить собеседование</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>