<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="page-header" layout:fragment="content" id="fh5co-page">
    <div id="fh5co-main">
        <div class="fh5co-more-contact">
            <div class="fh5co-narrow-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <i class="icon-globe"></i>
                            </div>
                            <div class="fh5co-text">
                                <h3>Задачи</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <i class="icon-map"></i>
                            </div>
                            <div class="fh5co-text">
                                <h3><a th:href="@{/projects}">Проекты</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">

                        <form action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Поиск">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary btn-md" value="Найти задачу">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary btn-md" value="+ Добавить задачу">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="fh5co-narrow-content">
                            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Сотрудники</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Задача</th>
                                    <th scope="col">Крайний срок</th>
                                    <th scope="col">Постановщик</th>
                                    <th scope="col">Исполнитель</th>
                                    <th scope="col">Проект</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task: ${tasks}">
                                    <th scope="row" th:text="${task.getId()}"></th>
                                    <td th:text="${task.getTitle()}"></td>
                                    <td th:text="${task.getEndDate()}"></td>
                                    <td th:text="${task.getProducer().getSurname() + ' ' + task.getProducer().getName()}"></td>
                                    <td th:text="${task.getExecutor().getSurname() + ' ' + task.getExecutor().getName()}"></td>
                                    <td th:text="${task.getProject().getTitle()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>